[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

tensorflow = "*"
scikit-learn = "*"
keras = "*"
pillow = "*"
"h5py" = "*"
graphviz = "*"
pydot = "*"
matplotlib = "*"
floyd-cli = "*"


[dev-packages]

jupyter = "*"
jupyter-contrib-nbextensions = "*"